<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywd.mappers.AuthDao">

	<resultMap type="Auth" id="AuthResult">
		<result property="authId" column="authId"/>
		<result property="authName" column="authName"/>
		<result property="authPath" column="authPath"/>
		<result property="parentId" column="parentId"/>
		<result property="authDescription" column="authDescription"/>
		<result property="state" column="state"/>
		<result property="iconCls" column="iconCls"/>
	</resultMap>
	
	<select id="getAuthsByParentId" resultMap="AuthResult">
		select * from t_auth where parentId=#{parentId} and authId in
		<foreach item="authId" collection="authIds" open="(" separator="," close=")">
			#{authId}
		</foreach>
	</select>
	
	
</mapper> 